body {
  background: transparent  no-repeat center center fixed; 
  background-size: cover;
  width: 100%;
}

#right-part {
  display: flex;
  justify-content: flex-end;
}

.links {
  margin: 0px;
  border: 0;
  background-color: transparent;
}

.links-container {
  padding: 0;
  margin: 0;
  width: 100%;
}

.links-row {
  margin: 0;
  width: 100%;
}

#links-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 70px;
}

#links-bars {
  height: 70px;
  display: none;
}

.cards {
  padding-top: 10%;
  display: grid;
  grid-gap: 10px;
      grid-template-columns: 160px 160px;
      color: #444;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff0a;
    height: 160px;
    color: #fff;
    padding: 20px;
    font-size: 150%;
}

.bars {
  font-size: 30px;
}

@media (min-width: 781px) {
  #links-body {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 70px;
  }
}

@media (max-width: 780px) {
  #right-part {
    justify-content: center;
  }
  .hide-middle {
    display: none !important;
  }
  #links-body {
    text-align: center;
  }
  #links-bars {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #links-header {
    justify-content: flex-start;
  }
}

@media (max-width: 500px) {
  .logo-img {
    width: 200px;
  }
}
